name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        include:
          - os: macos-latest
            ext: dylib
            cc: cc
            postfix: macos64
          - os: ubuntu-latest
            ext: so
            cc: cc
            postfix: linux64
          - os: windows-latest
            ext: dll
            cc: x86_64-w64-mingw32-gcc
            postfix: windows64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: build
        run: |
             npm install && npm run-script build-test
             ${{ matrix.cc }} -fPIC -c -Isrc/ src/parser.c -o parser.o
             ${{ matrix.cc }} -fPIC -shared parser.o -o libtree-sitter-magik.${{ matrix.ext }}
             tar zcfv libtree-sitter-magik-${{ matrix.postfix }}.tar.gz libtree-sitter-magik.${{ matrix.ext }}
      - uses: actions/upload-artifact@v4
        with:
          name: libtree-sitter-magik-${{ matrix.postfix }}
          path: libtree-sitter-magik-${{ matrix.postfix }}.tar.gz
          if-no-files-found: error

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: libtree-sitter-magik
          pattern: libtree-sitter-magik*
      - uses: softprops/action-gh-release@v1
        with:
          files: |
            libtree-sitter-magik/*
